@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.corse-card {
  padding: 16px 25px !important;
  width: 100%;

  mat-card-header {
    padding: 0;
  }
}

.add-button {
  width: 50px;
  text-align: center;
  border: 4px solid;
  cursor: pointer
}

.tags {
  color: green !important;
}

.short-desc {
  color: gray !important;
}