<form [formGroup]='form' action="">
    <h2 mat-dialog-title>{{id > 0 ? "Edit course" : "Create new course"}}</h2>
    <mat-dialog-content class="mat-typography" fxLayout="column">

        <mat-form-field *ngFor="let prop of displayedColumns">
            <input matInput [placeholder]="prop" [formControl]="this[prop]" required type="text">
            <mat-error *ngIf="this[prop].invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button [mat-dialog-close]="true" type="submit" [disabled]="form.invalid" (click)="id > 0 ? update() : create()"
            color="primary" cdkFocusInitial>{{id > 0 ? "Update" : "Create"}} </button>
    </mat-dialog-actions>
</form>