<h2 mat-dialog-title>Log In</h2>
<mat-dialog-content class="mat-typography">

    <form fxLayout="column" action="">
        <mat-form-field>
            <input matInput placeholder="Enter your username" [formControl]="username" required type="text">
            <mat-error *ngIf="username.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Enter your password" [formControl]="password" required type="password">
            <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="{ 'method': 'login', 'username': username.value, 'password': password.value}" cdkFocusInitial>Log in</button>
</mat-dialog-actions>
