<div class="nav-container">
    <span class="logo-container" (click)="goTo('home')">
        𝑀𝒶𝓃 𝒪𝒻 𝒞𝓊𝓁𝓉𝓊𝓇𝑒
    </span>

    <ul class="links-container">
        <li>
            <button mat-button [matMenuTriggerFor]="loginMenu">{{ currentUser ? currentUser.firstName + ' ' + currentUser.lastName : 'Your Profile'}}</button>
            <mat-menu #loginMenu="matMenu" yPosition="below">
                <button *ngIf="!currentUser" mat-menu-item (click)="openDialog('login')">Log In</button>
                <button *ngIf="!currentUser" mat-menu-item (click)="openDialog('signup')">Sign Up</button>
                <button *ngIf="currentUser" mat-menu-item (click)="logout()">Log Out</button>
            </mat-menu>
        </li>
        <li  *ngIf="currentUser">
            <button mat-button [matMenuTriggerFor]="belowMenu">Jump to</button>
            <mat-menu #belowMenu="matMenu" yPosition="below">
                <button *ngIf="currentUser.roleId == 1" mat-menu-item (click)="goTo('users')">Users</button>
                <button mat-menu-item (click)="goTo('courses')">Courses</button>
                <button mat-menu-item (click)="goTo('home')">Home</button>
            </mat-menu>
        </li>
        <li>
            <fa-icon icon="search"></fa-icon>
        </li>
    </ul>
</div>