//nav config
$logo-color: #f3d1b2;
$nav-background-color: #673ab7;
$nav-text-color: #fff;
$nav-height: 50px;

//body config
$main-container-padding: 20px;
$background-color: #ebebeb;
$text-color: #673ab7;

