/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

mat-card {
    padding: 0 !important;
    box-shadow: 0 2px 1px -1px rgba(66, 66, 66, 0.2), 0 1px 1px 0 rgba(60, 60, 60, 0.14), 0 1px 3px 0 rgba(97, 97, 97, 0.12);
    
    mat-card-header {
        position: relative;
        padding: 16px 0;
        margin: 0 16px;
        .mat-card-header-text {
            margin: 0;
        }

        mat-card-title {
            line-height: 36px;
            margin: 0 !important;
            fa-icon {
                margin-right: 5px;
            }
        }
        button {
            position: absolute !important;
            right: 0;
        }
    }

    mat-card-content {
        padding: 16px;
        border-top: 1px solid #ccc;

        .mat-elevation-z8 {
            box-shadow: 0 5px 5px -3px rgba(93, 87, 87, 0.2), 0 8px 10px 1px rgba(160, 160, 160, 0.14), 0 3px 14px 2px rgba(105, 105, 105, 0.12);
        }
    }
}

